.yellow_bg{
    background: yellow;
}
.green_bg{
    background: #58bc58;
}
.w100{
    display: inline-block;
    width: 100px;
}
.wrap{
    background: #58bc58;
    display: flex;
    div{
        flex: 1;
    }
}